<div class="container">
  <app-navbar title="Dashboard"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="184"
        headerIcon="weekend"
        category="Muebles"
        footContent="mas infomacion..."
        footerIcon="warning"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="75.521"
        headerIcon="important_devices"
        category="Computadores"
        footContent="ofertas"
        footerIcon="local_offer"
        linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="3,245"
        headerIcon="phone_android"
        category="Celulares"
        footContent="Ultimas 24 horas"
        footerIcon="date_range"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="245"
        headerIcon="local_offer"
        category="Ofertas"
        footContent="Compra ahora"
        footerIcon="update"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="http://placehold.it/800x533"
        title="Ipad pro 6 generacion"
        desc="Totalmente nueva, se entrega en su caja original garantia 1 año"
        footerTitle="$890.000"
        position="Barcelona, Spain">
      </app-imagecard>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="http://placehold.it/800x533"
        title="Play station 4 slim"
        desc="Se encuentra en perfectas condiciones, 3 meses de uso."
        footerTitle="$950.000"
        position="Cartagena, Bolivar">
      </app-imagecard>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="http://placehold.it/800x533"
        title="Nevera Samsung 150L"
        desc="Nevera en perfectas condiciones,  1 año de uso, grantia de 5 meses"
        footerTitle="$600.000"
        position="Bogota, Cundinamarca">
      </app-imagecard>
    </div>
    
  </div>


</div>
